<footer class="mt-auto border-top bg-light">
    <div class="container py-3 d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-muted">&copy; @DateTime.UtcNow.Year MovieShop By Talha Hussain Syed</div>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link px-2" href="https://www.linkedin.com/in/talha-hussain-syed-5899351b9/" target="_blank" rel="noopener">About Me</a></li>
        </ul>
    </div>
</footer>
