@model ApplicationCore.Models.MovieCardModel

<a asp-controller="Movies" asp-action="MovieDetails" asp-route-id="@Model.Id" class="d-block">
    <img src="@(string.IsNullOrWhiteSpace(Model.PosterURL) ? "/images/placeholder.png" : Model.PosterURL)"
         alt="Poster"
         class="img-fluid rounded" />
</a>
